<div style="margin-left: 15px">
  <h2 *ngIf="game?.location === 'Home'">
    {{ game?.team?.name }} @ Kanab
    <span style="color: green" *ngIf="game.outcome === 'Win'">
      - {{ game.outcome }} ({{ game.ourScore }} -
      {{ game.opponentScore }})</span
    >
    <span style="color: red" *ngIf="game.outcome === 'Loss'">
      - {{ game.outcome }} ({{ game.ourScore }} -
      {{ game.opponentScore }})</span
    >
  </h2>
  <h2 *ngIf="game?.location === 'Away'">
    Kanab @ {{ game?.team?.name }}
    <span style="color: green" *ngIf="game.outcome === 'Win'">
      - {{ game.outcome }} ({{ game.ourScore }} -
      {{ game.opponentScore }})</span
    >
    <span style="color: red" *ngIf="game.outcome === 'Loss'">
      - {{ game.outcome }} ({{ game.ourScore }} -
      {{ game.opponentScore }})</span
    >
  </h2>
  <h2 *ngIf="game?.location === 'Neutral'">
    Kanab vs. {{ game?.team?.name }}
    <span style="color: green" *ngIf="game.outcome === 'Win'">
      - {{ game.outcome }} ({{ game.ourScore }} -
      {{ game.opponentScore }})</span
    >
    <span style="color: red" *ngIf="game.outcome === 'Loss'">
      - {{ game.outcome }} ({{ game.ourScore }} -
      {{ game.opponentScore }})</span
    >
  </h2>

  <h6 style="color: darkgrey">{{ game?.date.toDate() | date }}</h6>
</div>

<div fxLayout="row wrap">
  <!-- column -->
  <div fxFlex.gt-lg="60" fxFlex.gt-md="60" fxFlex.gt-xs="100" fxFlex="100">
    <div fxLayout="row wrap">
      <!-- column -->
      <div fxFlex.gt-lg="33" fxFlex.gt-md="33" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card
          ><mat-card-header>
            <mat-card-title>Total Plays</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div style="text-align: center; font-size: 25px">
              <p>
                <i
                  ><b>{{ gamePlaysArray?.data?.length }}</b></i
                >
              </p>
            </div>
          </mat-card-content></mat-card
        >
      </div>
      <!-- column -->
      <!-- column -->
      <div fxFlex.gt-lg="33" fxFlex.gt-md="33" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card
          ><mat-card-header>
            <mat-card-title>Total Yards</mat-card-title> </mat-card-header
          ><mat-card-content>
            <div style="text-align: center; font-size: 25px">
              <p>
                <i
                  ><b>{{ totalYards }}</b></i
                >
              </p>
            </div>
          </mat-card-content></mat-card
        >
      </div>
      <!-- column -->
      <!-- column -->
      <div fxFlex.gt-lg="33" fxFlex.gt-md="33" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card
          ><mat-card-header>
            <mat-card-title>Avg. Yards</mat-card-title> </mat-card-header
          ><mat-card-content>
            <div style="text-align: center; font-size: 25px">
              <p>
                <i
                  ><b>{{ avgYards }}</b></i
                >
              </p>
            </div>
          </mat-card-content></mat-card
        >
      </div>
      <!-- column -->
    </div>

    <div style="margin: 15px">
      <mat-form-field>
        <input
          matInput
          (keyup)="applyFilterOne($event.target.value)"
          placeholder="Search Plays"
        />
      </mat-form-field>
      <mat-table
        [dataSource]="playsArray"
        matSort
        #TableOneSort="matSort"
        class="mat-elevation-z8"
      >
        <!-- play Column -->
        <ng-container matColumnDef="play">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            Play
          </mat-header-cell>
          <mat-cell *matCellDef="let element">
            {{ element?.fullPlay }}
          </mat-cell>
        </ng-container>

        <!-- gameCount Column -->
        <ng-container matColumnDef="gameCount">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            Game Count
          </mat-header-cell>
          <mat-cell *matCellDef="let element">
            {{ element?.gameCount }}
          </mat-cell>
        </ng-container>

        <!-- gameAvg Column -->
        <ng-container matColumnDef="gameAvg">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            Game Average
          </mat-header-cell>
          <mat-cell *matCellDef="let element">
            {{ element?.gameAvg }}
          </mat-cell>
        </ng-container>

        <!-- seasonAvg Column -->
        <ng-container matColumnDef="seasonAvg">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            Season Average
          </mat-header-cell>
          <mat-cell *matCellDef="let element">
            {{ element?.seasonAvg }}
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns2"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns2"></mat-row>
      </mat-table>

      <mat-paginator
        #TableOnePaginator="matPaginator"
        [pageSize]="25"
        [pageSizeOptions]="[10, 25, 50, 100]"
        class="mat-elevation-z8"
      ></mat-paginator>
    </div>
    <mat-card>
      <mat-card-header>
        <mat-card-title>Game Outcome</mat-card-title>
      </mat-card-header>
      <form
        class="example-form"
        style="padding: 15px"
        [formGroup]="outcomeForm"
      >
        <div fxLayout="row wrap">
          <!-- column -->
          <div fxFlex="30" style="margin: 5px">
            <mat-form-field class="example-full-width">
              <mat-label>Outcome</mat-label>
              <mat-select formControlName="outcome">
                <mat-option value="Win"> Win </mat-option>
                <mat-option value="Loss"> Loss </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <!-- column -->
          <!-- column -->
          <div fxFlex="30" style="margin: 5px">
            <mat-form-field class="example-full-width">
              <mat-label>{{ currentProfile?.name }} Score</mat-label>
              <input matInput formControlName="ourScore" type="number" />
            </mat-form-field>
          </div>
          <!-- column -->
          <!-- column -->
          <div fxFlex="30" style="margin: 5px">
            <mat-form-field class="example-full-width">
              <mat-label>{{ game?.team?.name }} Score</mat-label>
              <input matInput formControlName="opponentScore" type="number" />
            </mat-form-field>
          </div>
          <!-- column -->
        </div>
      </form>
      <div style="text-align: center; padding: 15px">
        <button
          type="button"
          mat-raised-button
          color="primary"
          (click)="saveOutcome()"
          [disabled]="outcomeForm.invalid"
        >
          Save
        </button>
      </div>
    </mat-card>
    <div style="margin: 15px">
      <mat-table [dataSource]="gamePlaysArray" class="mat-elevation-z8">
        <!-- play Column -->
        <ng-container matColumnDef="play">
          <mat-header-cell *matHeaderCellDef> Play </mat-header-cell>
          <mat-cell *matCellDef="let element">
            {{ element?.play?.fullPlay }}
          </mat-cell>
        </ng-container>

        <!-- result Column -->
        <ng-container matColumnDef="result">
          <mat-header-cell *matHeaderCellDef> Result </mat-header-cell>
          <mat-cell *matCellDef="let element">
            {{ element?.result }}
          </mat-cell>
        </ng-container>

        <!-- Delete Column -->
        <ng-container matColumnDef="delete">
          <mat-header-cell *matHeaderCellDef></mat-header-cell>
          <mat-cell *matCellDef="let element">
            <span
              class="material-icons"
              style="color: red; cursor: pointer"
              (click)="delete(element)"
            >
              delete_forever
            </span>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns1"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns1"></mat-row>
      </mat-table>
      <mat-paginator
        #TableTwoPaginator="matPaginator"
        [pageSize]="25"
        [pageSizeOptions]="[10, 25, 50, 100]"
        class="mat-elevation-z8"
      ></mat-paginator>
    </div>
  </div>
  <!-- column -->
  <!-- column -->
  <div fxFlex.gt-lg="40" fxFlex.gt-md="40" fxFlex.gt-xs="100" fxFlex="100">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Create New Game Play</mat-card-title>
      </mat-card-header>
      <form
        class="example-form"
        style="padding: 15px"
        [formGroup]="gamePlayForm"
      >
        <mat-form-field class="example-full-width">
          <input
            matInput
            type="string"
            [placeholder]="placeholder"
            (keyup)="onKeyUp($event.target.value)"
            autocomplete="off"
            formControlName="play"
          />
          <div>
            <mat-option
              *ngFor="let result of results"
              (click)="selectPlay(result.payload.doc.data())"
            >
              <div>{{ result.payload.doc.data().fullPlay }}</div>
            </mat-option>
          </div>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>Result</mat-label>
          <input matInput formControlName="result" type="number" />
        </mat-form-field>
      </form>
      <div style="text-align: center; padding: 15px">
        <button
          type="button"
          mat-raised-button
          color="primary"
          (click)="saveGamePlay()"
          [disabled]="gamePlayForm.invalid"
        >
          Save
        </button>
      </div>
    </mat-card>

    <mat-card>
      <mat-card-header>
        <mat-card-title>Play Type Stats</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div fxLayout="flex wrap">
          <div fxFlex="50" *ngFor="let playCat of playTypesArray">
            <p>
              <b>{{ playCat.name }}</b>
            </p>
            <p>
              {{ playCat.name }} Yards: <b>{{ playCat.totalYards }}</b> <br />
              ({{ playCat.totalYards / totalYards | percent }})
            </p>
            <p>
              {{ playCat.name }} Plays: <b>{{ playCat?.plays?.length }}</b>
              <br />
              ({{
                playCat?.plays?.length / gamePlaysArray?.data?.length | percent
              }})
            </p>
            <p>
              {{ playCat.name }} Avg: <b>{{ playCat.avgYards }}</b>
            </p>
            <p>
              {{ playCat.name }} Right Avg:
              <b>{{ playCat.rightAvgYards || "--" }}</b>
            </p>
            <p>
              {{ playCat.name }} Left Avg:
              <b>{{ playCat.leftAvgYards || "--" }}</b>
            </p>
          </div>
        </div>
      </mat-card-content>
    </mat-card>

    <mat-card
      ><mat-card-header>
        <mat-card-title>Run Pass Stats</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div fxFlex="50">
          <p><b>Rushing</b></p>
          <p>
            Rushing Yards: {{ totalRushYards }} <br />
            ({{ totalRushYards / totalYards | percent }})
          </p>
          <p>
            Run Plays: {{ runPlays?.length }} <br />
            ({{ runPlays.length / gamePlaysArray?.data?.length | percent }})
          </p>
          <p>Run Avg: {{ runAvg }}</p>
        </div>
        <div fxFlex="50">
          <p><b>Passing</b></p>
          <p>
            Passing Yards: {{ totalPassYards }} <br />
            ({{ totalPassYards / totalYards | percent }})
          </p>
          <p>
            Pass Plays: {{ passPlays?.length }} <br />
            ({{ passPlays.length / gamePlaysArray?.data?.length | percent }})
          </p>
          <p>Pass Avg: {{ passAvg }}</p>
        </div>
      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-header>
        <mat-card-title>Primary Option Stats</mat-card-title>
        <mat-card-subtitle>2020 Season</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div fxLayout="flex wrap">
          <div fxFlex="50" *ngFor="let position of positionTypesArray">
            <p>
              <b>{{ position.name }}</b>
            </p>
            <p>
              {{ position.name }} Yards: {{ position.totalYards }} <br />
              ({{ position.totalYards / totalYards | percent }})
            </p>
            <p>
              {{ position.name }} Plays: {{ position?.plays?.length }} <br />
              ({{
                position?.plays?.length / gamePlaysArray?.data?.length
                  | percent
              }})
            </p>
            <p>{{ position.name }} Avg: {{ position.avgYards }}</p>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <!-- column -->
</div>
