<div style="margin-left: 15px">
  <h2 *ngIf="game?.location === 'Home'">
    {{ game?.team?.name }} @ Kanab
    <span style="color: green" *ngIf="game.outcome === 'Win'">
      - {{ game.outcome }} ({{ game.ourScore }} -
      {{ game.opponentScore }})</span
    >
    <span style="color: red" *ngIf="game.outcome === 'Loss'">
      - {{ game.outcome }} ({{ game.ourScore }} -
      {{ game.opponentScore }})</span
    >
  </h2>
  <h2 *ngIf="game?.location === 'Away'">
    Kanab @ {{ game?.team?.name }}
    <span style="color: green" *ngIf="game.outcome === 'Win'">
      - {{ game.outcome }} ({{ game.ourScore }} -
      {{ game.opponentScore }})</span
    >
    <span style="color: red" *ngIf="game.outcome === 'Loss'">
      - {{ game.outcome }} ({{ game.ourScore }} -
      {{ game.opponentScore }})</span
    >
  </h2>
  <h2 *ngIf="game?.location === 'Neutral'">
    Kanab vs. {{ game?.team?.name }}
    <span style="color: green" *ngIf="game.outcome === 'Win'">
      - {{ game.outcome }} ({{ game.ourScore }} -
      {{ game.opponentScore }})</span
    >
    <span style="color: red" *ngIf="game.outcome === 'Loss'">
      - {{ game.outcome }} ({{ game.ourScore }} -
      {{ game.opponentScore }})</span
    >
  </h2>
  <h6 style="color: darkgrey; margin-bottom: -20px">
    Defensive Scheme: {{ game?.expectedFront }}
  </h6>
  <h6 style="color: darkgrey; margin-bottom: -5px">
    {{ game?.date.toDate() | date }}
  </h6>
</div>

<div fxLayout="row wrap">
  <!-- column -->
  <div fxFlex.gt-lg="66" fxFlex.gt-md="60" fxFlex.gt-xs="100" fxFlex="100">
    <div fxLayout="row wrap">
      <!-- column -->
      <div fxFlex.gt-lg="33" fxFlex.gt-md="33" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card class="mat-elevation-z12"
          ><mat-card-header>
            <mat-card-title>Total Plays</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div style="text-align: center; font-size: 25px">
              <p>
                <i
                  ><b>{{ gamePlaysArray?.data?.length }}</b></i
                >
              </p>
            </div>
          </mat-card-content></mat-card
        >
      </div>
      <!-- column -->
      <!-- column -->
      <div fxFlex.gt-lg="33" fxFlex.gt-md="33" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card
          ><mat-card-header>
            <mat-card-title>Total Yards</mat-card-title> </mat-card-header
          ><mat-card-content>
            <div style="text-align: center; font-size: 25px">
              <p>
                <i
                  ><b>{{ totalYards }}</b></i
                >
              </p>
            </div>
          </mat-card-content></mat-card
        >
      </div>
      <!-- column -->
      <!-- column -->
      <div fxFlex.gt-lg="33" fxFlex.gt-md="33" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card
          ><mat-card-header>
            <mat-card-title>Avg. Yards</mat-card-title> </mat-card-header
          ><mat-card-content>
            <div style="text-align: center; font-size: 25px">
              <p>
                <i
                  ><b>{{ avgYards }}</b></i
                >
              </p>
            </div>
          </mat-card-content></mat-card
        >
      </div>
      <!-- column -->
    </div>

    <div style="margin: 15px">
      <mat-form-field>
        <input
          matInput
          (keyup)="applyFilterOne($event.target.value)"
          placeholder="Search Plays"
        />
      </mat-form-field>
      <mat-table
        [dataSource]="playsArray"
        matSort
        #TableOneSort="matSort"
        class="mat-elevation-z8"
      >
        <!-- play Column -->
        <ng-container matColumnDef="play">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            Play
          </mat-header-cell>
          <mat-cell *matCellDef="let element">
            {{ element?.fullPlay }}
          </mat-cell>
        </ng-container>

        <!-- gameCount Column -->
        <ng-container matColumnDef="gameCount">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            Game Count
          </mat-header-cell>
          <mat-cell *matCellDef="let element">
            {{ element?.gameCount }}
          </mat-cell>
        </ng-container>

        <!-- gameAvg Column -->
        <ng-container matColumnDef="gameAvg">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            Game Average
          </mat-header-cell>
          <mat-cell *matCellDef="let element">
            {{ element?.gameAvg }}
          </mat-cell>
        </ng-container>

        <!-- seasonAvg Column -->
        <ng-container matColumnDef="seasonAvg">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            Season Average
          </mat-header-cell>
          <mat-cell *matCellDef="let element">
            {{ element?.seasonAvg }}
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns2"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns2"></mat-row>
      </mat-table>

      <mat-paginator
        #TableOnePaginator="matPaginator"
        [pageSize]="25"
        [pageSizeOptions]="[10, 25, 50, 100]"
        class="mat-elevation-z8"
      ></mat-paginator>
    </div>
    <mat-card>
      <mat-card-header>
        <mat-card-title>Game Outcome</mat-card-title>
      </mat-card-header>
      <form
        class="example-form"
        style="padding: 15px"
        [formGroup]="outcomeForm"
      >
        <div fxLayout="row wrap">
          <!-- column -->
          <div fxFlex="30" style="margin: 5px">
            <mat-form-field class="example-full-width">
              <mat-label>Outcome</mat-label>
              <mat-select formControlName="outcome">
                <mat-option value="Win"> Win </mat-option>
                <mat-option value="Loss"> Loss </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <!-- column -->
          <!-- column -->
          <div fxFlex="30" style="margin: 5px">
            <mat-form-field class="example-full-width">
              <mat-label>{{ currentProfile?.name }} Score</mat-label>
              <input matInput formControlName="ourScore" type="number" />
            </mat-form-field>
          </div>
          <!-- column -->
          <!-- column -->
          <div fxFlex="30" style="margin: 5px">
            <mat-form-field class="example-full-width">
              <mat-label>{{ game?.team?.name }} Score</mat-label>
              <input matInput formControlName="opponentScore" type="number" />
            </mat-form-field>
          </div>
          <!-- column -->
        </div>
      </form>
      <div style="text-align: center; padding: 15px">
        <button
          type="button"
          mat-raised-button
          color="primary"
          (click)="saveOutcome()"
          [disabled]="outcomeForm.invalid"
        >
          Save
        </button>
      </div>
    </mat-card>
    <div style="margin: 15px">
      <mat-table [dataSource]="gamePlaysArray" class="mat-elevation-z8">
        <!-- play Column -->
        <ng-container matColumnDef="play">
          <mat-header-cell *matHeaderCellDef> Play </mat-header-cell>
          <mat-cell *matCellDef="let element">
            {{ element?.play?.fullPlay }}
          </mat-cell>
        </ng-container>

        <!-- result Column -->
        <ng-container matColumnDef="result">
          <mat-header-cell *matHeaderCellDef> Result </mat-header-cell>
          <mat-cell *matCellDef="let element">
            {{ element?.result }}
          </mat-cell>
        </ng-container>

        <!-- Delete Column -->
        <ng-container matColumnDef="delete">
          <mat-header-cell *matHeaderCellDef></mat-header-cell>
          <mat-cell *matCellDef="let element">
            <span
              class="material-icons"
              style="color: red; cursor: pointer"
              (click)="delete(element)"
            >
              delete_forever
            </span>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns1"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns1"></mat-row>
      </mat-table>
      <mat-paginator
        #TableTwoPaginator="matPaginator"
        [pageSize]="25"
        [pageSizeOptions]="[10, 25, 50, 100]"
        class="mat-elevation-z8"
      ></mat-paginator>
    </div>
    <div>
      <mat-card>
        <mat-card-header
          ><mat-card-title>Game Information</mat-card-title>
        </mat-card-header>
        <form class="example-form" style="padding: 15px" [formGroup]="gameForm">
          <mat-form-field class="example-full-width">
            <mat-label>Location</mat-label>
            <mat-select formControlName="location">
              <mat-option value="Home">Home</mat-option>
              <mat-option value="Away">Away</mat-option>
              <mat-option value="Neutral">Neutral</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-label>Expected Front</mat-label>
            <mat-select formControlName="expectedFront">
              <mat-option *ngFor="let front of fronts" [value]="front.name">
                {{ front.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </form>
        <div style="text-align: center; padding: 15px">
          <button
            type="button"
            mat-raised-button
            color="primary"
            (click)="editGame()"
          >
            Edit Game
          </button>
        </div>
      </mat-card>
    </div>
  </div>
  <!-- column -->
  <!-- column -->
  <div fxFlex.gt-lg="33" fxFlex.gt-md="40" fxFlex.gt-xs="100" fxFlex="100">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Create New Game Play</mat-card-title>
      </mat-card-header>
      <form
        class="example-form"
        style="padding: 15px"
        [formGroup]="gamePlayForm"
      >
        <mat-form-field class="example-full-width">
          <input
            matInput
            type="string"
            [placeholder]="placeholder"
            (keyup)="onKeyUp($event.target.value)"
            autocomplete="off"
            formControlName="play"
          />
          <div>
            <mat-option
              *ngFor="let result of results"
              (click)="selectPlay(result.payload.doc.data())"
            >
              <div>{{ result.payload.doc.data().fullPlay }}</div>
            </mat-option>
          </div>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>Result</mat-label>
          <input matInput formControlName="result" type="number" />
        </mat-form-field>
      </form>
      <div style="text-align: center; padding: 15px">
        <button
          type="button"
          mat-raised-button
          color="primary"
          (click)="saveGamePlay()"
          [disabled]="gamePlayForm.invalid"
        >
          Save
        </button>
      </div>
    </mat-card>

    <div *ngFor="let playCat of playTypesArray">
      <mat-card *ngIf="playCat?.plays?.length">
        <mat-card-header>
          <mat-card-title
            ><b>{{ playCat.name }} </b> - {{ playCat?.plays?.length }} Plays ({{
              playCat?.plays?.length / gamePlaysArray?.data?.length | percent
            }})</mat-card-title
          >
          <mat-card-subtitle
            >Biggest Play:
            {{ playCat?.biggestPlay?.play?.fullPlay || "--" }} ({{
              playCat?.biggestPlay?.result
            }}
            Yards)</mat-card-subtitle
          >
        </mat-card-header>
        <mat-card-content>
          <div fxLayout="flex wrap" class="display-font">
            <div fxFlex="60">
              <p>
                Total Yards: {{ playCat.totalYards }} Yards ({{
                  playCat.totalYards / totalYards | percent
                }})
              </p>
              <p *ngIf="playCat.rightPlays > 0">
                Rt Yards: {{ playCat.rightYards || "0" }} Yards ({{
                  playCat.rightPlays
                }}
                Plays)
              </p>
              <p *ngIf="playCat.leftPlays > 0">
                Lt Yards: {{ playCat.leftYards || "0" }} Yards ({{
                  playCat.leftPlays
                }}
                Plays)
              </p>
            </div>
            <div fxFlex="40">
              <p *ngIf="playCat.avgYards">Avg: {{ playCat.avgYards }}</p>
              <p *ngIf="playCat.rightPlays > 0">
                Rt Avg: {{ playCat.rightAvgYards || "0.00" }}
              </p>
              <p *ngIf="playCat.leftPlays > 0">
                Lt Avg: {{ playCat.leftAvgYards || "0.00" }}
              </p>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>

    <mat-card *ngIf="gamePlaysArray?.data?.length"
      ><mat-card-header>
        <mat-card-title
          ><b>Rushing</b> - {{ runPlays?.length }} Plays
          <span *ngIf="runPlays.length"
            >({{
              runPlays.length / gamePlaysArray?.data?.length | percent
            }})</span
          ></mat-card-title
        >
      </mat-card-header>
      <mat-card-content>
        <div fxFlex="60" class="display-font">
          <p>
            Total Yards: {{ totalRushYards || "0" }}
            <span *ngIf="runPlays.length"
              >({{ totalRushYards / totalYards | percent }})</span
            >
          </p>
          <p>Rt Yards: {{ rightRunYards || "0" }}</p>
          <p>Lt Yards: {{ leftRunYards || "0" }}</p>
        </div>
        <div fxFlex="40" class="display-font">
          <p>Avg: {{ runAvg || "0" }}</p>
          <p>Rt Avg: {{ rightRunAvg || "0" }}</p>
          <p>Lt Avg: {{ leftRunAvg || "0" }}</p>
        </div>
      </mat-card-content>
      <mat-card-header>
        <mat-card-title
          ><b>Passing</b> - {{ passPlays?.length }} Plays
          <span *ngIf="passPlays?.length"
            >({{
              passPlays.length / gamePlaysArray?.data?.length | percent
            }})</span
          ></mat-card-title
        >
      </mat-card-header>
      <mat-card-content>
        <div fxFlex="60" class="display-font">
          <p>
            Total Yards: {{ totalPassYards || "0" }}
            <span *ngIf="passPlays?.length"
              >({{ totalPassYards / totalYards | percent }})</span
            >
          </p>
          <p>Rt Yards: {{ rightPassYards || "0" }}</p>
          <p>Lt Yards: {{ leftPassYards || "0" }}</p>
        </div>
        <div fxFlex="40" class="display-font">
          <p>Avg: {{ passAvg || "0" }}</p>
          <p>Rt Avg: {{ rightPassAvg || "0" }}</p>
          <p>Lt Avg: {{ leftPassAvg || "0" }}</p>
        </div>
      </mat-card-content>
    </mat-card>
    <mat-card *ngIf="gamePlaysArray?.data?.length">
      <mat-card-header>
        <mat-card-title>Primary Option Stats</mat-card-title>
        <mat-card-subtitle>2020 Season</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div fxLayout="flex wrap">
          <div fxFlex="50" *ngFor="let position of positionTypesArray">
            <div *ngIf="position?.plays?.length">
              <p>
                <b>{{ position.name }}</b>
              </p>
              <p class="display-font">
                {{ position.name }} Yards: {{ position.totalYards }} ({{
                  position.totalYards / totalYards | percent
                }})
              </p>
              <p class="display-font">
                {{ position.name }} Plays: {{ position?.plays?.length }} ({{
                  position?.plays?.length / gamePlaysArray?.data?.length
                    | percent
                }})
              </p>
              <p class="display-font">
                {{ position.name }} Avg: {{ position.avgYards }}
              </p>
            </div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <!-- column -->
</div>
