<div style="margin-left: 15px">
  <h2 *ngIf="game?.location === 'Home'">
    {{ game?.team?.name }} @ Kanab
    <span style="color: green" *ngIf="game.outcome === 'Win'">
      - {{ game.outcome }} ({{ game.ourScore }} -
      {{ game.opponentScore }})</span
    >
    <span style="color: red" *ngIf="game.outcome === 'Loss'">
      - {{ game.outcome }} ({{ game.ourScore }} -
      {{ game.opponentScore }})</span
    >
  </h2>
  <h2 *ngIf="game?.location === 'Away'">
    Kanab @ {{ game?.team?.name }}
    <span style="color: green" *ngIf="game.outcome === 'Win'">
      - {{ game.outcome }} ({{ game.ourScore }} -
      {{ game.opponentScore }})</span
    >
    <span style="color: red" *ngIf="game.outcome === 'Loss'">
      - {{ game.outcome }} ({{ game.ourScore }} -
      {{ game.opponentScore }})</span
    >
  </h2>
  <h2 *ngIf="game?.location === 'Neutral'">
    Kanab vs. {{ game?.team?.name }}
    <span style="color: green" *ngIf="game.outcome === 'Win'">
      - {{ game.outcome }} ({{ game.ourScore }} -
      {{ game.opponentScore }})</span
    >
    <span style="color: red" *ngIf="game.outcome === 'Loss'">
      - {{ game.outcome }} ({{ game.ourScore }} -
      {{ game.opponentScore }})</span
    >
  </h2>

  <h6 style="color: darkgrey">{{ game?.date.toDate() | date }}</h6>
</div>

<div fxLayout="row wrap">
  <!-- column -->
  <div fxFlex.gt-lg="66" fxFlex.gt-md="66" fxFlex.gt-xs="100" fxFlex="100">
    <div fxLayout="row wrap">
      <!-- column -->
      <div fxFlex.gt-lg="33" fxFlex.gt-md="33" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card
          ><mat-card-header>
            <mat-card-title>Total Plays</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div style="text-align: center; font-size: 25px">
              <p>
                <i
                  ><b>{{ gamePlaysArray?.data?.length }}</b></i
                >
              </p>
            </div>
          </mat-card-content></mat-card
        >
      </div>
      <!-- column -->
      <!-- column -->
      <div fxFlex.gt-lg="33" fxFlex.gt-md="33" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card
          ><mat-card-header>
            <mat-card-title>Total Yards</mat-card-title> </mat-card-header
          ><mat-card-content>
            <div style="text-align: center; font-size: 25px">
              <p>
                <i
                  ><b>{{ totalYards }}</b></i
                >
              </p>
            </div>
          </mat-card-content></mat-card
        >
      </div>
      <!-- column -->
      <!-- column -->
      <div fxFlex.gt-lg="33" fxFlex.gt-md="33" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card
          ><mat-card-header>
            <mat-card-title>Avg. Yards</mat-card-title> </mat-card-header
          ><mat-card-content>
            <div style="text-align: center; font-size: 25px">
              <p>
                <i
                  ><b>{{ avgYards }}</b></i
                >
              </p>
            </div>
          </mat-card-content></mat-card
        >
      </div>
      <!-- column -->
    </div>

    <div style="margin: 15px">
      <mat-form-field>
        <input
          matInput
          (keyup)="applyFilterOne($event.target.value)"
          placeholder="Search Plays"
        />
      </mat-form-field>
      <mat-table
        [dataSource]="playsArray"
        matSort
        #TableOneSort="matSort"
        class="mat-elevation-z8"
      >
        <!-- play Column -->
        <ng-container matColumnDef="play">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            Play
          </mat-header-cell>
          <mat-cell *matCellDef="let element">
            {{ element?.fullPlay }}
          </mat-cell>
        </ng-container>

        <!-- gameCount Column -->
        <ng-container matColumnDef="gameCount">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            Game Count
          </mat-header-cell>
          <mat-cell *matCellDef="let element">
            {{ element?.gameCount }}
          </mat-cell>
        </ng-container>

        <!-- gameAvg Column -->
        <ng-container matColumnDef="gameAvg">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            Game Average
          </mat-header-cell>
          <mat-cell *matCellDef="let element">
            {{ element?.gameAvg }}
          </mat-cell>
        </ng-container>

        <!-- seasonAvg Column -->
        <!-- <ng-container matColumnDef="seasonAvg">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            Season Average
          </mat-header-cell>
          <mat-cell *matCellDef="let element">
            {{ element?.seasonAvg }}
          </mat-cell>
        </ng-container> -->

        <mat-header-row *matHeaderRowDef="displayedColumns2"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns2"></mat-row>
      </mat-table>

      <mat-paginator
        #TableOnePaginator="matPaginator"
        [pageSize]="25"
        [pageSizeOptions]="[10, 25, 50, 100]"
        class="mat-elevation-z8"
      ></mat-paginator>
    </div>
    <mat-card>
      <mat-card-header>
        <mat-card-title>Game Outcome</mat-card-title>
      </mat-card-header>
      <form
        class="example-form"
        style="padding: 15px"
        [formGroup]="outcomeForm"
      >
        <div fxLayout="row wrap">
          <!-- column -->
          <div fxFlex="30" style="margin: 5px">
            <mat-form-field class="example-full-width">
              <mat-label>Outcome</mat-label>
              <mat-select formControlName="outcome">
                <mat-option value="Win"> Win </mat-option>
                <mat-option value="Loss"> Loss </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <!-- column -->
          <!-- column -->
          <div fxFlex="30" style="margin: 5px">
            <mat-form-field class="example-full-width">
              <mat-label>{{ currentProfile?.name }} Score</mat-label>
              <input matInput formControlName="ourScore" type="number" />
            </mat-form-field>
          </div>
          <!-- column -->
          <!-- column -->
          <div fxFlex="30" style="margin: 5px">
            <mat-form-field class="example-full-width">
              <mat-label>{{ game?.team?.name }} Score</mat-label>
              <input matInput formControlName="opponentScore" type="number" />
            </mat-form-field>
          </div>
          <!-- column -->
        </div>
      </form>
      <div style="text-align: center; padding: 15px">
        <button
          type="button"
          mat-raised-button
          color="primary"
          (click)="saveOutcome()"
          [disabled]="outcomeForm.invalid"
        >
          Save
        </button>
      </div>
    </mat-card>
    <div style="margin: 15px">
      <mat-table [dataSource]="gamePlaysArray" class="mat-elevation-z8">
        <!-- play Column -->
        <ng-container matColumnDef="play">
          <mat-header-cell *matHeaderCellDef> Play </mat-header-cell>
          <mat-cell *matCellDef="let element">
            {{ element?.play?.fullPlay }}
          </mat-cell>
        </ng-container>

        <!-- result Column -->
        <ng-container matColumnDef="result">
          <mat-header-cell *matHeaderCellDef> Result </mat-header-cell>
          <mat-cell *matCellDef="let element">
            {{ element?.result }}
          </mat-cell>
        </ng-container>

        <!-- Delete Column -->
        <ng-container matColumnDef="delete">
          <mat-header-cell *matHeaderCellDef></mat-header-cell>
          <mat-cell *matCellDef="let element">
            <span
              class="material-icons"
              style="color: red; cursor: pointer"
              (click)="delete(element)"
            >
              delete_forever
            </span>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns1"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns1"></mat-row>
      </mat-table>
      <mat-paginator
        #TableTwoPaginator="matPaginator"
        [pageSize]="25"
        [pageSizeOptions]="[10, 25, 50, 100]"
        class="mat-elevation-z8"
      ></mat-paginator>
    </div>
  </div>
  <!-- column -->
  <!-- column -->
  <div fxFlex.gt-lg="33" fxFlex.gt-md="33" fxFlex.gt-xs="100" fxFlex="100">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Create New Game Play</mat-card-title>
      </mat-card-header>
      <form
        class="example-form"
        style="padding: 15px"
        [formGroup]="gamePlayForm"
      >
        <mat-form-field class="example-full-width">
          <input
            matInput
            type="string"
            [placeholder]="placeholder"
            (keyup)="onKeyUp($event.target.value)"
            autocomplete="off"
            formControlName="play"
          />
          <div>
            <mat-option
              *ngFor="let result of results"
              (click)="selectPlay(result.payload.doc.data())"
            >
              <div>{{ result.payload.doc.data().fullPlay }}</div>
            </mat-option>
          </div>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>Result</mat-label>
          <input matInput formControlName="result" type="number" />
        </mat-form-field>
      </form>
      <div style="text-align: center; padding: 15px">
        <button
          type="button"
          mat-raised-button
          color="primary"
          (click)="saveGamePlay()"
          [disabled]="gamePlayForm.invalid"
        >
          Save
        </button>
      </div>
    </mat-card>

    <mat-card>
      <mat-card-header>
        <mat-card-title>Play Type Stats</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div fxLayout="flex wrap">
          <div fxFlex="50">
            <p><b>Sweep</b></p>
            <p>
              Sweep Yards: {{ sweepYards }} <br />
              ({{ sweepYards / totalYards | percent }})
            </p>
            <p>
              Sweep Plays: {{ sweepPlays?.length }} <br />
              ({{ sweepPlays.length / gamePlaysArray?.data?.length | percent }})
            </p>
            <p>Sweep Avg: {{ sweepAvg }}</p>
          </div>
          <div fxFlex="50">
            <p><b>Trap</b></p>
            <p>
              Trap Yards: {{ trapYards }} <br />
              ({{ trapYards / totalYards | percent }})
            </p>
            <p>
              Trap Plays: {{ trapPlays?.length }} <br />
              ({{ trapPlays.length / gamePlaysArray?.data?.length | percent }})
            </p>
            <p>Trap Avg: {{ trapAvg }}</p>
          </div>
          <div fxFlex="50">
            <p><b>Boot</b></p>
            <p>
              Boot Yards: {{ bootYards }} <br />
              ({{ bootYards / totalYards | percent }})
            </p>
            <p>
              Boot Plays: {{ bootPlays?.length }} <br />
              ({{ bootPlays.length / gamePlaysArray?.data?.length | percent }})
            </p>
            <p>Boot Avg: {{ bootAvg }}</p>
          </div>
          <div fxFlex="50">
            <p><b>Pop Pass</b></p>
            <p>
              Pop Pass Yards: {{ popPassYards }} <br />
              ({{ popPassYards / totalYards | percent }})
            </p>
            <p>
              Pop Pass Plays: {{ popPassPlays?.length }} <br />
              ({{
                popPassPlays.length / gamePlaysArray?.data?.length | percent
              }})
            </p>
            <p>Pop Pass Avg: {{ popPassAvg }}</p>
          </div>
          <div fxFlex="50">
            <p><b>Wedge</b></p>
            <p>
              Wedge Yards: {{ wedgeYards }} <br />
              ({{ wedgeYards / totalYards | percent }})
            </p>
            <p>
              Wedge Plays: {{ wedgePlays?.length }} <br />
              ({{ wedgePlays.length / gamePlaysArray?.data?.length | percent }})
            </p>
            <p>Wedge Avg: {{ wedgeAvg }}</p>
          </div>
          <div fxFlex="50">
            <p><b>Cross Block</b></p>
            <p>
              X Block Yards: {{ crossBlockYards }} <br />
              ({{ crossBlockYards / totalYards | percent }})
            </p>
            <p>
              X Block Plays: {{ crossBlockPlays?.length }} <br />
              ({{
                crossBlockPlays.length / gamePlaysArray?.data?.length | percent
              }})
            </p>
            <p>X Block Avg: {{ crossBlockAvg }}</p>
          </div>
          <div fxFlex="50">
            <p><b>Counter</b></p>
            <p>
              Counter Yards: {{ counterYards }} <br />
              ({{ counterYards / totalYards | percent }})
            </p>
            <p>
              Counter Plays: {{ counterPlays?.length }} <br />
              ({{
                counterPlays.length / gamePlaysArray?.data?.length | percent
              }})
            </p>
            <p>Counter Avg: {{ counterAvg }}</p>
          </div>
          <div fxFlex="50">
            <p><b>Belly</b></p>
            <p>
              Belly Yards: {{ bellyYards }} <br />
              ({{ bellyYards / totalYards | percent }})
            </p>
            <p>
              Belly Plays: {{ bellyPlays?.length }} <br />
              ({{ bellyPlays.length / gamePlaysArray?.data?.length | percent }})
            </p>
            <p>Belly Avg: {{ bellyAvg }}</p>
          </div>
          <div fxFlex="50">
            <p><b>Down</b></p>
            <p>
              Down Yards: {{ downYards }} <br />
              ({{ downYards / totalYards | percent }})
            </p>
            <p>
              Down Plays: {{ downPlays?.length }} <br />
              ({{ downPlays.length / gamePlaysArray?.data?.length | percent }})
            </p>
            <p>Down Avg: {{ downAvg }}</p>
          </div>
          <div fxFlex="50">
            <p><b>Keep Pass</b></p>
            <p>
              Keep Pass Yards: {{ keepPassYards }} <br />
              ({{ keepPassYards / totalYards | percent }})
            </p>
            <p>
              Keep Pass Plays: {{ keepPassPlays?.length }} <br />
              ({{
                keepPassPlays.length / gamePlaysArray?.data?.length | percent
              }})
            </p>
            <p>Keep Pass Avg: {{ keepPassAvg }}</p>
          </div>
          <div fxFlex="50">
            <p><b>Reverse</b></p>
            <p>
              Reverse Yards: {{ reverseYards }} <br />
              ({{ reverseYards / totalYards | percent }})
            </p>
            <p>
              Reverse Plays: {{ reversePlays?.length }} <br />
              ({{
                reversePlays.length / gamePlaysArray?.data?.length | percent
              }})
            </p>
            <p>Reverse Avg: {{ reverseAvg }}</p>
          </div>
          <div fxFlex="50">
            <p><b>Power</b></p>
            <p>
              Power Yards: {{ powerYards }} <br />
              ({{ powerYards / totalYards | percent }})
            </p>
            <p>
              Power Plays: {{ powerPlays?.length }} <br />
              ({{ powerPlays.length / gamePlaysArray?.data?.length | percent }})
            </p>
            <p>Power Avg: {{ powerAvg }}</p>
          </div>
          <div fxFlex="50">
            <p><b>Pass</b></p>
            <p>
              Pass Yards: {{ pass90Yards }} <br />
              ({{ pass90Yards / totalYards | percent }})
            </p>
            <p>
              Pass Plays: {{ pass90Plays?.length }} <br />
              ({{
                pass90Plays.length / gamePlaysArray?.data?.length | percent
              }})
            </p>
            <p>Pass Avg: {{ pass90Avg }}</p>
          </div>
          <div fxFlex="50">
            <p><b>Special</b></p>
            <p>
              Special Yards: {{ specialYards }} <br />
              ({{ specialYards / totalYards | percent }})
            </p>
            <p>
              Special Plays: {{ specialPlays?.length }} <br />
              ({{
                specialPlays.length / gamePlaysArray?.data?.length | percent
              }})
            </p>
            <p>Special Avg: {{ specialAvg }}</p>
          </div>
          <div fxFlex="50">
            <p><b>Screen</b></p>
            <p>
              Screen Yards: {{ screenYards }} <br />
              ({{ screenYards / totalYards | percent }})
            </p>
            <p>
              Screen Plays: {{ screenPlays?.length }} <br />
              ({{
                screenPlays.length / gamePlaysArray?.data?.length | percent
              }})
            </p>
            <p>Screen Avg: {{ screenAvg }}</p>
          </div>
        </div>
      </mat-card-content>
    </mat-card>

    <mat-card
      ><mat-card-header>
        <mat-card-title>Run Pass Stats</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div fxFlex="50">
          <p><b>Rushing</b></p>
          <p>
            Rushing Yards: {{ totalRushYards }} <br />
            ({{ totalRushYards / totalYards | percent }})
          </p>
          <p>
            Run Plays: {{ runPlays?.length }} <br />
            ({{ runPlays.length / gamePlaysArray?.data?.length | percent }})
          </p>
          <p>Run Avg: {{ runAvg }}</p>
        </div>
        <div fxFlex="50">
          <p><b>Passing</b></p>
          <p>
            Passing Yards: {{ totalPassYards }} <br />
            ({{ totalPassYards / totalYards | percent }})
          </p>
          <p>
            Pass Plays: {{ passPlays?.length }} <br />
            ({{ passPlays.length / gamePlaysArray?.data?.length | percent }})
          </p>
          <p>Pass Avg: {{ passAvg }}</p>
        </div>
      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-header>
        <mat-card-title>Primary Option Stats</mat-card-title>
        <mat-card-subtitle>2020 Season</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div fxLayout="flex wrap">
          <div fxFlex="50">
            <p><b>QB</b></p>
            <p>
              QB Yards: {{ qbYards }} <br />
              ({{ qbYards / totalYards | percent }})
            </p>
            <p>
              QB Plays: {{ qbPlays?.length }} <br />
              ({{ qbPlays?.length / gamePlaysArray.data.length | percent }})
            </p>
            <p>QB Avg: {{ qbAvg }}</p>
          </div>
          <div fxFlex="50">
            <p><b>Left HB</b></p>
            <p>
              LHB Yards: {{ lhbYards }} <br />
              ({{ lhbYards / totalYards | percent }})
            </p>
            <p>
              LHB Plays: {{ lhbPlays?.length }} <br />
              ({{ lhbPlays?.length / gamePlaysArray.data.length | percent }})
            </p>
            <p>LHB Avg: {{ lhbAvg }}</p>
          </div>
          <div fxFlex="50">
            <p><b>Right HB</b></p>
            <p>
              RHB Yards: {{ rhbYards }} <br />
              ({{ rhbYards / totalYards | percent }})
            </p>
            <p>
              RHB Plays: {{ rhbPlays?.length }} <br />
              ({{ rhbPlays?.length / gamePlaysArray.data.length | percent }})
            </p>
            <p>RHB Avg: {{ rhbAvg }}</p>
          </div>
          <div fxFlex="50">
            <p><b>FB</b></p>
            <p>
              FB Yards: {{ fbYards }} <br />
              ({{ fbYards / totalYards | percent }})
            </p>
            <p>
              FB Plays: {{ fbPlays?.length }} <br />
              ({{ fbPlays?.length / gamePlaysArray.data.length | percent }})
            </p>
            <p>FB Avg: {{ fbAvg }}</p>
          </div>
          <div fxFlex="50">
            <p><b>TE</b></p>
            <p>
              TE Yards: {{ teYards }} <br />
              ({{ teYards / totalYards | percent }})
            </p>
            <p>
              TE Plays: {{ tePlays?.length }} <br />
              ({{ tePlays?.length / gamePlaysArray.data.length | percent }})
            </p>
            <p>TE Avg: {{ teAvg }}</p>
          </div>
          <div fxFlex="50">
            <p><b>WR</b></p>
            <p>
              WR Yards: {{ wrYards }} <br />
              ({{ wrYards / totalYards | percent }})
            </p>
            <p>
              WR Plays: {{ wrPlays?.length }} <br />
              ({{ wrPlays?.length / gamePlaysArray.data.length | percent }})
            </p>
            <p>WR Avg: {{ wrAvg }}</p>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <!-- column -->
</div>
