<h2 style="margin-left: 15px">Playbook ({{ plays?.data?.length }})</h2>

<div fxLayout="row wrap">
  <!-- column -->
  <div fxFlex.gt-lg="66" fxFlex.gt-md="66" fxFlex.gt-xs="100" fxFlex="100">
    <div style="margin: 15px">
      <mat-form-field>
        <input
          matInput
          (keyup)="applyFilterOne($event.target.value)"
          placeholder="Search Plays"
        />
      </mat-form-field>
      <mat-table
        [dataSource]="plays"
        matSort
        #TableOneSort="matSort"
        class="mat-elevation-z8"
      >
        <!-- Formation Column -->
        <ng-container matColumnDef="formation">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            Formation
          </mat-header-cell>
          <mat-cell *matCellDef="let element">
            {{ element.formation }}
          </mat-cell>
        </ng-container>
        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            Name
          </mat-header-cell>
          <mat-cell *matCellDef="let element">
            {{ element.name }}
          </mat-cell>
        </ng-container>

        <!-- Play Category Column -->
        <ng-container matColumnDef="playCat">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            Play Category
          </mat-header-cell>
          <mat-cell *matCellDef="let element">
            {{ element.playCat }}
          </mat-cell>
        </ng-container>

        <!-- Run Pass Column -->
        <ng-container matColumnDef="runPass">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            Run / Pass
          </mat-header-cell>
          <mat-cell *matCellDef="let element">
            {{ element.runPass }}
          </mat-cell>
        </ng-container>

        <!-- Primary Position Column -->
        <ng-container matColumnDef="primaryPos">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            Primary Position
          </mat-header-cell>
          <mat-cell *matCellDef="let element">
            {{ element.primaryPos }}
          </mat-cell>
        </ng-container>

        <!-- Direction Column -->
        <ng-container matColumnDef="direction">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            Direction
          </mat-header-cell>
          <mat-cell *matCellDef="let element">
            {{ element.Direction }}
          </mat-cell>
        </ng-container>

        <!-- Delete Column -->
        <ng-container matColumnDef="delete">
          <mat-header-cell *matHeaderCellDef></mat-header-cell>
          <mat-cell
            *matCellDef="let element"
            (click)="$event.stopPropagation()"
          >
            <span
              class="material-icons"
              style="color: red; cursor: pointer"
              (click)="delete(element)"
            >
              delete_forever
            </span>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row
          *matRowDef="let row; columns: displayedColumns"
          style="cursor: pointer"
          [routerLink]="['/play/', row.id]"
        ></mat-row>
      </mat-table>

      <mat-paginator
        #TableOnePaginator="matPaginator"
        [pageSize]="10"
        [pageSizeOptions]="[10, 20, 50, 100]"
        class="mat-elevation-z8"
      ></mat-paginator>
    </div>
  </div>
  <!-- column -->
  <!-- column -->
  <div fxFlex.gt-lg="33" fxFlex.gt-md="33" fxFlex.gt-xs="100" fxFlex="100">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Create New Play</mat-card-title>
      </mat-card-header>
      <form class="example-form" style="padding: 15px" [formGroup]="playForm">
        <mat-form-field class="example-full-width">
          <mat-label>Formation</mat-label>
          <mat-select formControlName="formation">
            <mat-option value=""></mat-option>
            <mat-option
              *ngFor="let formation of formationsArray"
              [value]="formation.name"
            >
              {{ formation.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>Name</mat-label>
          <input matInput formControlName="name" type="string" />
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>Play Category</mat-label>
          <mat-select formControlName="playCat">
            <mat-option *ngFor="let cat of catArray" [value]="cat.name">
              {{ cat.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>Run / Pass</mat-label>
          <mat-select formControlName="runPass">
            <mat-option value="Run"> Run </mat-option>
            <mat-option value="Pass"> Pass </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>Primary Option</mat-label>
          <mat-select formControlName="primaryPos">
            <mat-option *ngFor="let pos of posArray" [value]="pos.name">
              {{ pos.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>Direction</mat-label>
          <mat-select formControlName="Direction">
            <mat-option value="Left"> Left </mat-option>
            <mat-option value="Right"> Right </mat-option>
            <mat-option value="Neutral"> Neutral </mat-option>
          </mat-select>
        </mat-form-field>
      </form>
      <div style="text-align: center; padding: 15px">
        <button
          type="button"
          mat-raised-button
          color="primary"
          (click)="save()"
        >
          Save
        </button>
      </div>
    </mat-card>
  </div>
  <!-- column -->
</div>
