<h1 style="color: red; text-align: center">
  {{ currentProfile?.name }} {{ currentProfile?.mascot }}
</h1>
<h4 style="color: darkgray; text-align: center">
  {{ currentProfile?.location }}
</h4>

<div fxLayout="row wrap">
  <!-- column -->
  <div fxFlex.gt-lg="60" fxFlex.gt-md="60" fxFlex.gt-xs="100" fxFlex="100">
    <div fxLayout="row wrap">
      <!-- column -->
      <div fxFlex.gt-lg="33" fxFlex.gt-md="33" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card
          ><mat-card-header>
            <mat-card-title>Total Plays</mat-card-title>
            <mat-card-subtitle>2020 Season</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <div style="text-align: center; font-size: 25px">
              <p>
                <i
                  ><b>{{ seasonPlays?.length }}</b></i
                >
              </p>
            </div>
          </mat-card-content></mat-card
        >
      </div>
      <!-- column -->
      <!-- column -->
      <div fxFlex.gt-lg="33" fxFlex.gt-md="33" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card
          ><mat-card-header>
            <mat-card-title>Total Yards</mat-card-title>
            <mat-card-subtitle>2020 Season</mat-card-subtitle> </mat-card-header
          ><mat-card-content>
            <div style="text-align: center; font-size: 25px">
              <p>
                <i
                  ><b>{{ seasonTotalYards }}</b></i
                >
              </p>
            </div>
          </mat-card-content></mat-card
        >
      </div>
      <!-- column -->
      <!-- column -->
      <div fxFlex.gt-lg="33" fxFlex.gt-md="33" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card
          ><mat-card-header>
            <mat-card-title>Avg. Yards</mat-card-title>
            <mat-card-subtitle>2020 Season</mat-card-subtitle> </mat-card-header
          ><mat-card-content>
            <div style="text-align: center; font-size: 25px">
              <p>
                <i
                  ><b>{{ seasonAvgYards }}</b></i
                >
              </p>
            </div>
          </mat-card-content></mat-card
        >
      </div>
    </div>
    <mat-card>
      <mat-card-header>
        <mat-card-title>Play Type Stats</mat-card-title>
        <mat-card-subtitle>2020 Season</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div fxLayout="flex wrap">
          <div fxFlex="50" *ngFor="let playCat of playTypesArray">
            <mat-card-header>
              <mat-card-title>
                <b>{{ playCat.name }}</b> - {{ playCat?.plays?.length }} Plays
                ({{ playCat?.plays?.length / seasonPlays?.length | percent }})
              </mat-card-title>
              <mat-card-subtitle>
                Biggest Play:
                {{ playCat?.biggestPlay?.play?.fullPlay || "--" }}
                <span *ngIf="playCat.biggestPlay"
                  >({{ playCat?.biggestPlay?.result }} Yards)</span
                >
              </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <div fxLayout="flex wrap">
                <div fxFlex="70">
                  <p>
                    Total Yards: {{ playCat.totalYards }} ({{
                      playCat.totalYards / seasonTotalYards | percent
                    }})
                  </p>
                  <p *ngIf="playCat.rightPlays > 0">
                    Right Yards: {{ playCat.rightYards || "0" }} Yards ({{
                      playCat.rightPlays
                    }}
                    Plays)
                  </p>
                  <p *ngIf="playCat.leftPlays > 0">
                    Left Yards: {{ playCat.leftYards || "0" }} Yards ({{
                      playCat.leftPlays
                    }}
                    Plays)
                  </p>
                </div>
                <div fxFlex="30">
                  <p *ngIf="playCat.avgYards">
                    Total Avg: {{ playCat.avgYards }}
                  </p>
                  <p *ngIf="playCat.rightPlays > 0">
                    Right Avg: {{ playCat.rightAvgYards || "0.00" }}
                  </p>
                  <p *ngIf="playCat.leftPlays > 0">
                    Left Avg: {{ playCat.leftAvgYards || "0.00" }}
                  </p>
                </div>
              </div>
            </mat-card-content>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <!-- column -->
  <!-- column -->
  <div fxFlex.gt-lg="40" fxFlex.gt-md="40" fxFlex.gt-xs="100" fxFlex="100">
    <mat-card>
      <div fxFlex.gt-lg="30" fxFlex.gt-md="25" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card-header>
          <mat-card-title
            >Roster&nbsp;&nbsp; <br />
            ({{ players?.length }})
            <span
              class="material-icons"
              style="color: rgb(28, 125, 225); cursor: pointer"
              [routerLink]="['/roster']"
            >
              call_made
            </span></mat-card-title
          >
        </mat-card-header>
      </div>
      <div fxFlex.gt-lg="30" fxFlex.gt-md="35" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card-header>
          <mat-card-title
            >Playbook <br />
            ({{ plays?.length }})
            <span
              class="material-icons"
              style="color: rgb(28, 125, 225); cursor: pointer"
              [routerLink]="['/playbook']"
            >
              call_made
            </span></mat-card-title
          >
        </mat-card-header>
      </div>
      <div fxFlex.gt-lg="40" fxFlex.gt-md="40" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card-header>
          <mat-card-title
            >Schedule <br />
            ({{ games?.length }})
            <span
              class="material-icons"
              style="color: rgb(28, 125, 225); cursor: pointer"
              [routerLink]="['/schedule']"
            >
              call_made
            </span></mat-card-title
          >
        </mat-card-header>
      </div>
    </mat-card>
    <mat-card>
      <mat-card-header>
        <mat-card-title>Primary Option Stats</mat-card-title>
        <mat-card-subtitle>2020 Season</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div fxLayout="flex wrap">
          <div fxFlex="50" *ngFor="let position of positionTypesArray">
            <p>
              <b>{{ position.name }}</b> - {{ position?.plays?.length }} Plays
              ({{ position?.plays?.length / seasonPlays?.length | percent }})
            </p>
            <p>
              {{ position.name }} Yards: {{ position?.totalYards }} <br />
              ({{ position.totalYards / seasonTotalYards | percent }})
            </p>
            <p>{{ position.name }} Avg: {{ position.avgYards }}</p>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
    <mat-card
      ><mat-card-header>
        <mat-card-title>Run Pass Stats</mat-card-title>
        <mat-card-subtitle>2020 Season</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div fxLayout="flex wrap">
          <div fxFlex="100">
            <p>
              <b>Rushing</b> - {{ seasonRunPlays?.length }} Plays
              <span *ngIf="seasonRunPlays.length"
                >({{
                  seasonRunPlays?.length / seasonPlays?.length | percent
                }})</span
              >
            </p>
          </div>
        </div>
        <div fxLayout="flex wrap">
          <div fxFlex="60">
            <p>
              Rush Yards: {{ totalRushYards || "0" }} ({{
                totalRushYards / seasonTotalYards | percent
              }})
            </p>
            <p>Right Rush Yards: {{ rightRunYards || "0" }}</p>
            <p>Left Rush Yards: {{ leftRunYards || "0" }}</p>
          </div>
          <div fxFlex="40">
            <p>Total Rush Avg: {{ runAvg }}</p>
            <p>Right Rush Avg: {{ rightRunAvg }}</p>
            <p>Left Rush Avg: {{ leftRunAvg }}</p>
          </div>
        </div>
        <div fxLayout="flex wrap">
          <div fxFlex="100">
            <p>
              <b>Passing</b> - {{ seasonPassPlays?.length }} Plays
              <span *ngIf="seasonPassPlays.length"
                >({{
                  seasonPassPlays?.length / seasonPlays?.length | percent
                }})</span
              >
            </p>
          </div>
        </div>
        <div fxLayout="flex wrap">
          <div fxFlex="60">
            <p>
              Pass Yards: {{ totalPassYards || "0" }} ({{
                totalPassYards / seasonTotalYards | percent
              }})
            </p>
            <p>Right Pass Yards: {{ rightPassYards || "0" }}</p>
            <p>Left Pass Yards: {{ leftPassYards || "0" }}</p>
          </div>
          <div fxFlex="40">
            <p>Total Pass Avg: {{ passAvg }}</p>
            <p>Right Pass Avg: {{ rightPassAvg }}</p>
            <p>Left Pass Avg: {{ leftPassAvg }}</p>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <!-- column -->
</div>
