<h1 style="color: red; text-align: center">
  {{ currentProfile?.name }} {{ currentProfile?.mascot }}
</h1>
<h4 style="color: darkgray; text-align: center">
  {{ currentProfile?.location }}
</h4>

<div fxLayout="row wrap">
  <!-- column -->
  <div fxFlex.gt-lg="66" fxFlex.gt-md="66" fxFlex.gt-xs="100" fxFlex="100">
    <div fxLayout="row wrap">
      <!-- column -->
      <div fxFlex.gt-lg="33" fxFlex.gt-md="33" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card
          ><mat-card-header>
            <mat-card-title>Total Plays</mat-card-title>
            <mat-card-subtitle>2020 Season</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <div style="text-align: center; font-size: 25px">
              <p>
                <i
                  ><b>{{ seasonPlays?.length }}</b></i
                >
              </p>
            </div>
          </mat-card-content></mat-card
        >
      </div>
      <!-- column -->
      <!-- column -->
      <div fxFlex.gt-lg="33" fxFlex.gt-md="33" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card
          ><mat-card-header>
            <mat-card-title>Total Yards</mat-card-title>
            <mat-card-subtitle>2020 Season</mat-card-subtitle> </mat-card-header
          ><mat-card-content>
            <div style="text-align: center; font-size: 25px">
              <p>
                <i
                  ><b>{{ seasonTotalYards }}</b></i
                >
              </p>
            </div>
          </mat-card-content></mat-card
        >
      </div>
      <!-- column -->
      <!-- column -->
      <div fxFlex.gt-lg="33" fxFlex.gt-md="33" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card
          ><mat-card-header>
            <mat-card-title>Avg. Yards</mat-card-title>
            <mat-card-subtitle>2020 Season</mat-card-subtitle> </mat-card-header
          ><mat-card-content>
            <div style="text-align: center; font-size: 25px">
              <p>
                <i
                  ><b>{{ seasonAvgYards }}</b></i
                >
              </p>
            </div>
          </mat-card-content></mat-card
        >
      </div>
    </div>
    <mat-card>
      <mat-card-header>
        <mat-card-title>Play Type Stats</mat-card-title>
        <mat-card-subtitle>2020 Season</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div fxLayout="flex wrap">
          <div fxFlex="33">
            <p><b>Sweep</b></p>
            <p>
              Sweep Yards: {{ sweepYards }} ({{
                sweepYards / seasonTotalYards | percent
              }})
            </p>
            <p>
              Sweep Plays: {{ sweepPlays?.length }} ({{
                sweepPlays.length / seasonPlays?.length | percent
              }})
            </p>
            <p>Sweep Average: {{ sweepAvg }}</p>
          </div>
          <div fxFlex="33">
            <p><b>Trap</b></p>
            <p>
              Trap Yards: {{ trapYards }} ({{
                trapYards / seasonTotalYards | percent
              }})
            </p>
            <p>
              Trap Plays: {{ trapPlays?.length }} ({{
                trapPlays.length / seasonPlays?.length | percent
              }})
            </p>
            <p>Trap Average: {{ trapAvg }}</p>
          </div>
          <div fxFlex="33">
            <p><b>Boot</b></p>
            <p>
              Boot Yards: {{ bootYards }} ({{
                bootYards / seasonTotalYards | percent
              }})
            </p>
            <p>
              Boot Plays: {{ bootPlays?.length }} ({{
                bootPlays.length / seasonPlays?.length | percent
              }})
            </p>
            <p>Boot Average: {{ bootAvg }}</p>
          </div>
          <div fxFlex="33">
            <p><b>Pop Pass</b></p>
            <p>
              Pop Pass Yards: {{ popPassYards }} ({{
                popPassYards / seasonTotalYards | percent
              }})
            </p>
            <p>
              Pop Pass Plays: {{ popPassPlays?.length }} ({{
                popPassPlays.length / seasonPlays?.length | percent
              }})
            </p>
            <p>Pop Pass Average: {{ popPassAvg }}</p>
          </div>
          <div fxFlex="33">
            <p><b>Wedge</b></p>
            <p>
              Wedge Yards: {{ wedgeYards }} ({{
                wedgeYards / seasonTotalYards | percent
              }})
            </p>
            <p>
              Wedge Plays: {{ wedgePlays?.length }} ({{
                wedgePlays.length / seasonPlays?.length | percent
              }})
            </p>
            <p>Wedge Average: {{ wedgeAvg }}</p>
          </div>
          <div fxFlex="33">
            <p><b>Cross Block</b></p>
            <p>
              Cross Block Yards: {{ crossBlockYards }} ({{
                crossBlockYards / seasonTotalYards | percent
              }})
            </p>
            <p>
              Cross Block Plays: {{ crossBlockPlays?.length }} ({{
                crossBlockPlays.length / seasonPlays?.length | percent
              }})
            </p>
            <p>Cross Block Average: {{ crossBlockAvg }}</p>
          </div>
          <div fxFlex="33">
            <p><b>Counter</b></p>
            <p>
              Counter Yards: {{ counterYards }} ({{
                counterYards / seasonTotalYards | percent
              }})
            </p>
            <p>
              Counter Plays: {{ counterPlays?.length }} ({{
                counterPlays.length / seasonPlays?.length | percent
              }})
            </p>
            <p>Counter Average: {{ counterAvg }}</p>
          </div>
          <div fxFlex="33">
            <p><b>Belly</b></p>
            <p>
              Belly Yards: {{ bellyYards }} ({{
                bellyYards / seasonTotalYards | percent
              }})
            </p>
            <p>
              Belly Plays: {{ bellyPlays?.length }} ({{
                bellyPlays.length / seasonPlays?.length | percent
              }})
            </p>
            <p>Belly Average: {{ bellyAvg }}</p>
          </div>
          <div fxFlex="33">
            <p><b>Down</b></p>
            <p>
              Down Yards: {{ downYards }} ({{
                downYards / seasonTotalYards | percent
              }})
            </p>
            <p>
              Down Plays: {{ downPlays?.length }} ({{
                downPlays.length / seasonPlays?.length | percent
              }})
            </p>
            <p>Down Average: {{ downAvg }}</p>
          </div>
          <div fxFlex="33">
            <p><b>Keep Pass</b></p>
            <p>
              Keep Pass Yards: {{ keepPassYards }} ({{
                keepPassYards / seasonTotalYards | percent
              }})
            </p>
            <p>
              Keep Pass Plays: {{ keepPassPlays?.length }} ({{
                keepPassPlays.length / seasonPlays?.length | percent
              }})
            </p>
            <p>Keep Pass Average: {{ keepPassAvg }}</p>
          </div>
          <div fxFlex="33">
            <p><b>Reverse</b></p>
            <p>
              Reverse Yards: {{ reverseYards }} ({{
                reverseYards / seasonTotalYards | percent
              }})
            </p>
            <p>
              Reverse Plays: {{ reversePlays?.length }} ({{
                reversePlays.length / seasonPlays?.length | percent
              }})
            </p>
            <p>Reverse Average: {{ reverseAvg }}</p>
          </div>
          <div fxFlex="33">
            <p><b>Power</b></p>
            <p>
              Power Yards: {{ powerYards }} ({{
                powerYards / seasonTotalYards | percent
              }})
            </p>
            <p>
              Power Plays: {{ powerPlays?.length }} ({{
                powerPlays.length / seasonPlays?.length | percent
              }})
            </p>
            <p>Power Average: {{ powerAvg }}</p>
          </div>
          <div fxFlex="33">
            <p><b>Pass</b></p>
            <p>
              Pass Yards: {{ pass90Yards }} ({{
                pass90Yards / seasonTotalYards | percent
              }})
            </p>
            <p>
              Pass Plays: {{ pass90Plays?.length }} ({{
                pass90Plays.length / seasonPlays?.length | percent
              }})
            </p>
            <p>Pass Average: {{ pass90Avg }}</p>
          </div>
          <div fxFlex="33">
            <p><b>Special</b></p>
            <p>
              Special Yards: {{ specialYards }} ({{
                specialYards / seasonTotalYards | percent
              }})
            </p>
            <p>
              Special Plays: {{ specialPlays?.length }} ({{
                specialPlays.length / seasonPlays?.length | percent
              }})
            </p>
            <p>Special Average: {{ specialAvg }}</p>
          </div>
          <div fxFlex="33">
            <p><b>Screen</b></p>
            <p>
              Screen Yards: {{ screenYards }} ({{
                screenYards / seasonTotalYards | percent
              }})
            </p>
            <p>
              Screen Plays: {{ screenPlays?.length }} ({{
                screenPlays.length / seasonPlays?.length | percent
              }})
            </p>
            <p>Screen Average: {{ screenAvg }}</p>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <!-- column -->
  <!-- column -->
  <div fxFlex.gt-lg="33" fxFlex.gt-md="33" fxFlex.gt-xs="100" fxFlex="100">
    <mat-card>
      <div fxFlex.gt-lg="25" fxFlex.gt-md="25" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card-header>
          <mat-card-title
            >Roster <br />
            ({{ players?.length }})
            <span
              class="material-icons"
              style="color: rgb(28, 125, 225); cursor: pointer"
              [routerLink]="['/roster']"
            >
              call_made
            </span></mat-card-title
          >
        </mat-card-header>
      </div>
      <div fxFlex.gt-lg="35" fxFlex.gt-md="35" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card-header>
          <mat-card-title
            >Playbook <br />
            ({{ plays?.length }})
            <span
              class="material-icons"
              style="color: rgb(28, 125, 225); cursor: pointer"
              [routerLink]="['/playbook']"
            >
              call_made
            </span></mat-card-title
          >
        </mat-card-header>
      </div>
      <div fxFlex.gt-lg="40" fxFlex.gt-md="40" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card-header>
          <mat-card-title
            >Schedule <br />
            ({{ games?.length }})
            <span
              class="material-icons"
              style="color: rgb(28, 125, 225); cursor: pointer"
              [routerLink]="['/schedule']"
            >
              call_made
            </span></mat-card-title
          >
        </mat-card-header>
      </div>
    </mat-card>
    <mat-card>
      <mat-card-header>
        <mat-card-title>Primary Option Stats</mat-card-title>
        <mat-card-subtitle>2020 Season</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div fxLayout="flex wrap">
          <div fxFlex="50">
            <p><b>QB</b></p>
            <p>
              QB Yards: {{ qbYards }} <br />
              ({{ qbYards / seasonTotalYards | percent }})
            </p>
            <p>
              QB Plays: {{ qbPlays?.length }} <br />
              ({{ qbPlays.length / seasonPlays.length | percent }})
            </p>
            <p>QB Avg: {{ qbAvg }}</p>
          </div>
          <div fxFlex="50">
            <p><b>Left HB</b></p>
            <p>
              LHB Yards: {{ lhbYards }} <br />
              ({{ lhbYards / seasonTotalYards | percent }})
            </p>
            <p>
              LHB Plays: {{ lhbPlays?.length }} <br />
              ({{ lhbPlays.length / seasonPlays.length | percent }})
            </p>
            <p>LHB Avg: {{ lhbAvg }}</p>
          </div>
          <div fxFlex="50">
            <p><b>Right HB</b></p>
            <p>
              RHB Yards: {{ rhbYards }} <br />
              ({{ rhbYards / seasonTotalYards | percent }})
            </p>
            <p>
              RHB Plays: {{ rhbPlays?.length }} <br />
              ({{ rhbPlays.length / seasonPlays.length | percent }})
            </p>
            <p>RHB Avg: {{ rhbAvg }}</p>
          </div>
          <div fxFlex="50">
            <p><b>FB</b></p>
            <p>
              FB Yards: {{ fbYards }} <br />
              ({{ fbYards / seasonTotalYards | percent }})
            </p>
            <p>
              FB Plays: {{ fbPlays?.length }} <br />
              ({{ fbPlays.length / seasonPlays.length | percent }})
            </p>
            <p>FB Avg: {{ fbAvg }}</p>
          </div>
          <div fxFlex="50">
            <p><b>TE</b></p>
            <p>
              TE Yards: {{ teYards }} <br />
              ({{ teYards / seasonTotalYards | percent }})
            </p>
            <p>
              TE Plays: {{ tePlays?.length }} <br />
              ({{ tePlays.length / seasonPlays.length | percent }})
            </p>
            <p>TE Avg: {{ teAvg }}</p>
          </div>
          <div fxFlex="50">
            <p><b>WR</b></p>
            <p>
              WR Yards: {{ wrYards }} <br />
              ({{ wrYards / seasonTotalYards | percent }})
            </p>
            <p>
              WR Plays: {{ wrPlays?.length }} <br />
              ({{ wrPlays.length / seasonPlays.length | percent }})
            </p>
            <p>WR Avg: {{ wrAvg }}</p>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
    <mat-card
      ><mat-card-header>
        <mat-card-title>Run Pass Stats</mat-card-title>
        <mat-card-subtitle>2020 Season</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div fxFlex="50">
          <p><b>Rushing</b></p>
          <p>
            Rush Yards: {{ totalRushYards }} <br />
            ({{ totalRushYards / seasonTotalYards | percent }})
          </p>
          <p>
            Run Plays: {{ seasonRunPlays?.length }} <br />
            ({{ seasonRunPlays.length / seasonPlays.length | percent }})
          </p>
          <p>Run Avg: {{ runAvg }}</p>
        </div>
        <div fxFlex="50">
          <p><b>Passing</b></p>
          <p>
            Pass Yards: {{ totalPassYards }} <br />
            ({{ totalPassYards / seasonTotalYards | percent }})
          </p>
          <p>
            Pass Plays: {{ seasonPassPlays?.length }} <br />
            ({{ seasonPassPlays.length / seasonPlays.length | percent }})
          </p>
          <p>Pass Avg: {{ passAvg }}</p>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <!-- column -->
</div>
