<h1 style="color: red; text-align: center">
  {{ currentProfile?.name }} {{ currentProfile?.mascot }}
</h1>
<h4 style="color: darkgray; text-align: center">
  {{ currentProfile?.location }}
</h4>

<div fxLayout="row wrap">
  <!-- column -->
  <div fxFlex.gt-lg="66" fxFlex.gt-md="66" fxFlex.gt-xs="100" fxFlex="100">
    <div fxLayout="row wrap">
      <!-- column -->
      <div fxFlex.gt-lg="33" fxFlex.gt-md="33" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card
          ><mat-card-header>
            <mat-card-title>Total Plays</mat-card-title>
            <mat-card-subtitle>2020 Season</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <div style="text-align: center; font-size: 25px">
              <p>
                <i
                  ><b>{{ seasonPlays?.length }}</b></i
                >
              </p>
            </div>
          </mat-card-content></mat-card
        >
      </div>
      <!-- column -->
      <!-- column -->
      <div fxFlex.gt-lg="33" fxFlex.gt-md="33" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card
          ><mat-card-header>
            <mat-card-title>Total Yards</mat-card-title>
            <mat-card-subtitle>2020 Season</mat-card-subtitle> </mat-card-header
          ><mat-card-content>
            <div style="text-align: center; font-size: 25px">
              <p>
                <i
                  ><b>{{ seasonTotalYards }}</b></i
                >
              </p>
            </div>
          </mat-card-content></mat-card
        >
      </div>
      <!-- column -->
      <!-- column -->
      <div fxFlex.gt-lg="33" fxFlex.gt-md="33" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card
          ><mat-card-header>
            <mat-card-title>Avg. Yards</mat-card-title>
            <mat-card-subtitle>2020 Season</mat-card-subtitle> </mat-card-header
          ><mat-card-content>
            <div style="text-align: center; font-size: 25px">
              <p>
                <i
                  ><b>{{ seasonAvgYards }}</b></i
                >
              </p>
            </div>
          </mat-card-content></mat-card
        >
      </div>
    </div>
    <mat-card>
      <mat-card-header>
        <mat-card-title>Play Type Stats</mat-card-title>
        <mat-card-subtitle>2020 Season</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div fxLayout="flex wrap">
          <div fxFlex="50" *ngFor="let playCat of playTypesArray">
            <mat-card-header>
              <mat-card-title>
                <b>{{ playCat.name }}</b> - {{ playCat?.plays?.length }} Plays
                ({{ playCat?.plays?.length / seasonPlays?.length | percent }})
              </mat-card-title>
              <mat-card-subtitle>
                Biggest Play:
                {{ playCat?.biggestPlay?.play?.fullPlay || "--" }}
                <span *ngIf="playCat.biggestPlay"
                  >({{ playCat?.biggestPlay?.result }} Yards)</span
                >
              </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <div fxLayout="flex wrap">
                <div fxFlex="70">
                  <p>
                    Total Yards: {{ playCat.totalYards }} ({{
                      playCat.totalYards / seasonTotalYards | percent
                    }})
                  </p>
                  <p *ngIf="playCat.rightPlays > 0">
                    Right Yards: {{ playCat.rightYards || "0" }} Yards ({{
                      playCat.rightPlays
                    }}
                    Plays)
                  </p>
                  <p *ngIf="playCat.leftPlays > 0">
                    Left Yards: {{ playCat.leftYards || "0" }} Yards ({{
                      playCat.leftPlays
                    }}
                    Plays)
                  </p>
                </div>
                <div fxFlex="30">
                  <p *ngIf="playCat.avgYards">
                    Total Avg: {{ playCat.avgYards }}
                  </p>
                  <p *ngIf="playCat.rightPlays > 0">
                    Right Avg: {{ playCat.rightAvgYards || "0.00" }}
                  </p>
                  <p *ngIf="playCat.leftPlays > 0">
                    Left Avg: {{ playCat.leftAvgYards || "0.00" }}
                  </p>
                </div>
              </div>
            </mat-card-content>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <!-- column -->
  <!-- column -->
  <div fxFlex.gt-lg="33" fxFlex.gt-md="33" fxFlex.gt-xs="100" fxFlex="100">
    <mat-card>
      <div fxFlex.gt-lg="30" fxFlex.gt-md="25" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card-header>
          <mat-card-title
            >Roster&nbsp;&nbsp; <br />
            ({{ players?.length }})
            <span
              class="material-icons"
              style="color: rgb(28, 125, 225); cursor: pointer"
              [routerLink]="['/roster']"
            >
              call_made
            </span></mat-card-title
          >
        </mat-card-header>
      </div>
      <div fxFlex.gt-lg="30" fxFlex.gt-md="35" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card-header>
          <mat-card-title
            >Playbook <br />
            ({{ plays?.length }})
            <span
              class="material-icons"
              style="color: rgb(28, 125, 225); cursor: pointer"
              [routerLink]="['/playbook']"
            >
              call_made
            </span></mat-card-title
          >
        </mat-card-header>
      </div>
      <div fxFlex.gt-lg="40" fxFlex.gt-md="40" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card-header>
          <mat-card-title
            >Schedule <br />
            ({{ games?.length }})
            <span
              class="material-icons"
              style="color: rgb(28, 125, 225); cursor: pointer"
              [routerLink]="['/schedule']"
            >
              call_made
            </span></mat-card-title
          >
        </mat-card-header>
      </div>
    </mat-card>
    <mat-card>
      <mat-card-header>
        <mat-card-title>Primary Option Stats</mat-card-title>
        <mat-card-subtitle>2020 Season</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div fxLayout="flex wrap">
          <div fxFlex="50">
            <p><b>QB</b></p>
            <p>
              QB Yards: {{ qbYards }} <br />
              ({{ qbYards / seasonTotalYards | percent }})
            </p>
            <p>
              QB Plays: {{ qbPlays?.length }} <br />
              ({{ qbPlays.length / seasonPlays.length | percent }})
            </p>
            <p>QB Avg: {{ qbAvg }}</p>
          </div>
          <div fxFlex="50">
            <p><b>Left HB</b></p>
            <p>
              LHB Yards: {{ lhbYards }} <br />
              ({{ lhbYards / seasonTotalYards | percent }})
            </p>
            <p>
              LHB Plays: {{ lhbPlays?.length }} <br />
              ({{ lhbPlays.length / seasonPlays.length | percent }})
            </p>
            <p>LHB Avg: {{ lhbAvg }}</p>
          </div>
          <div fxFlex="50">
            <p><b>Right HB</b></p>
            <p>
              RHB Yards: {{ rhbYards }} <br />
              ({{ rhbYards / seasonTotalYards | percent }})
            </p>
            <p>
              RHB Plays: {{ rhbPlays?.length }} <br />
              ({{ rhbPlays.length / seasonPlays.length | percent }})
            </p>
            <p>RHB Avg: {{ rhbAvg }}</p>
          </div>
          <div fxFlex="50">
            <p><b>FB</b></p>
            <p>
              FB Yards: {{ fbYards }} <br />
              ({{ fbYards / seasonTotalYards | percent }})
            </p>
            <p>
              FB Plays: {{ fbPlays?.length }} <br />
              ({{ fbPlays.length / seasonPlays.length | percent }})
            </p>
            <p>FB Avg: {{ fbAvg }}</p>
          </div>
          <div fxFlex="50">
            <p><b>TE</b></p>
            <p>
              TE Yards: {{ teYards }} <br />
              ({{ teYards / seasonTotalYards | percent }})
            </p>
            <p>
              TE Plays: {{ tePlays?.length }} <br />
              ({{ tePlays.length / seasonPlays.length | percent }})
            </p>
            <p>TE Avg: {{ teAvg }}</p>
          </div>
          <div fxFlex="50">
            <p><b>WR</b></p>
            <p>
              WR Yards: {{ wrYards }} <br />
              ({{ wrYards / seasonTotalYards | percent }})
            </p>
            <p>
              WR Plays: {{ wrPlays?.length }} <br />
              ({{ wrPlays.length / seasonPlays.length | percent }})
            </p>
            <p>WR Avg: {{ wrAvg }}</p>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
    <mat-card
      ><mat-card-header>
        <mat-card-title>Run Pass Stats</mat-card-title>
        <mat-card-subtitle>2020 Season</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div fxFlex="50">
          <p><b>Rushing</b></p>
          <p>
            Rush Yards: {{ totalRushYards }} <br />
            ({{ totalRushYards / seasonTotalYards | percent }})
          </p>
          <p>
            Run Plays: {{ seasonRunPlays?.length }} <br />
            ({{ seasonRunPlays.length / seasonPlays.length | percent }})
          </p>
          <p>Run Avg: {{ runAvg }}</p>
        </div>
        <div fxFlex="50">
          <p><b>Passing</b></p>
          <p>
            Pass Yards: {{ totalPassYards }} <br />
            ({{ totalPassYards / seasonTotalYards | percent }})
          </p>
          <p>
            Pass Plays: {{ seasonPassPlays?.length }} <br />
            ({{ seasonPassPlays.length / seasonPlays.length | percent }})
          </p>
          <p>Pass Avg: {{ passAvg }}</p>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <!-- column -->
</div>
